.wrapper {
  background-color: var(--white);
  padding: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-2);
  width: 60rem;
  max-width: 100%;
  margin: 3rem auto 0;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem;
}

.label {
  font-weight: 600;
}

.info {
  font-size: 0.875rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
